
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="container-fluid hfooter">
    <div class="row py-2">
        <div class="col-12 tfooter">
            <h2 class="h3 text-white text-center m-0 mb-2"  >
                @localizer["hfootertitle"]    
            </h2>
            <p class="text-center" >
                @localizer["pfootertitle"]
            </p>
        </div>
        <div class="col-12">
            <div class="container">
                <form action="">
                    <input type="text" class="label" placeholder="@localizer["emailfootertitle"]" />
                    <button type="button" class="me-3 text-white bg-primary text-capetalize subs" >@localizer["fsubsribe"]</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////////////////////////////////////////////////////////////-->
<div class="container-fluid botfooter">
  <div class="row">
    <div class="col-12 center py-1">
        <button class="btn btn-light text-white">
            @localizer["propbtn"]  
      </button>
    </div>
  </div>
  <hr />
  <div class="container">
    <div class="row">
      <a href="" class="col-4 text-white text-center" 
        >@localizer["fcontact"]</a>
      <a href="" class="col-4 text-white text-center" 
        >@localizer["fhelp"]</a>
      <a href=""  class="col-4 text-white text-center"
        >@localizer["fabout"]</a>
    </div>
  </div>
</div>