<section class="component_siction py-1">
    <div class="container mb-5 contravel">
        <h3>@localizer["connecttravel"]</h3>
        <div class="row justify-content-start">
            <a href="" class="col-lg-3 col-md-12 my-2">
                <img src="/images/home/t1.jpg"
                     alt=""
                     class="img-fluid" />
                <h5>@localizer["egypt"]</h5>
                <span>@localizer["trvlcom"]</span>
                <span>79,016</span>
            </a>
            <a href="" class="col-lg-3 col-md-12 my-2">
                <img src="/images/home/t2.jpg"
                     alt=""
                     class="img-fluid" />
                <h5>@localizer["trvltalk"]</h5>
                <span>@localizer["gendis"]</span>
                <span>559,346</span>
            </a>
            <a href="" class="col-lg-3 col-md-12 my-2">
                <img src="/images/home/t3.png"
                     alt=""
                     class="img-fluid" />
                <h5>@localizer["morecom"]</h5>
                <span>@localizer["viewall"]</span>
                <span>9,894,940</span>
            </a>
        </div>
</div>
