<section class="component_siction py-1">
    <div class="container mb-5 nexttrip">
        <h3>@localizer["nexttrip"]</h3>
        <div class="row mt-2">
            <div class="col-lg-4 col-md-12 my-2">
                <a href="">
                    <img src="/images/home/n1.webp"
                         class="img-fluid"
                         alt=""
                         width="100%" />
                    <div class="textarea">
                        <h4>@localizer["triptitle1"]</h4>
                        <p>
                            @localizer["trippar1"]  
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 my-2">
                <a href="" >
                    <img src="/images/home/n2.webp"
                         class="img-fluid"
                         alt=""
                         width="100%" />
                    <div class="textarea">
                        <h4>@localizer["triptitle2"]</h4>
                        <p>
                            @localizer["trippar2"]
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-12 my-2">
                <a href="" >
                    <img src="/images/home/n3.webp"
                         class="img-fluid"
                         alt=""
                         width="100%" />
                    <div class="textarea">
                        <h4>@localizer["triptitle3"]</h4>
                        <p>
                            @localizer["trippar3"]
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 my-2">
                <a href="" >
                    <img src="/images/home/n4.webp"
                         class="img-fluid"
                         alt=""
                         width="100%" />
                    <div class="textarea">
                        <h4>@localizer["triptitle4"]</h4>
                        <p>
                            @localizer["trippar4"]
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 my-2">
                <a href="" >
                    <img src="/images/home/n5.webp"
                         class="img-fluid"
                         alt=""
                         width="100%" />
                    <div class="textarea">
                        <h4>@localizer["triptitle5"]</h4>
                        <p>
                            @localizer["trippar5"]
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
