<div class="container mb-5 topvisit">
    <div class="row mt-2">
        <a href="" class="col-lg-6 my-2">
            <div class="imgcontainer">
                <img src="/images/home/v1.webp"
                     alt=""
                     width="100%"
                     class="img-fluid" />
                <h2 class="cairo">
                    @localizer["cairo"]
                    <img src="/images/home/vicon.png"
                         alt="" />
                </h2>
            </div>
        </a>

        <a href="" class="col-lg-6 my-2">
            <div class="imgcontainer">
                <img src="/images/home/v2.webp"
                     alt=""
                     width="100%"
                     class="img-fluid" />
                <h2 class="luxor">
                    @localizer["luxor"]
                    <img src="/images/home/vicon.png"
                         alt="" />
                </h2>
            </div>
        </a>

        <a href="" class="col-lg-4 col-md-12 my-2">
            <div class="imgcontainer">
                <img src="/images/home/v3.webp"
                     alt=""
                     width="100%"
                     class="img-fluid" />
                <h2 class="alex">
                    @localizer["alexandria"]
                    <img src="/images/home/vicon.png"
                         alt="" />
                </h2>
            </div>
        </a>

        <a href="" class="col-lg-4 col-md-12 my-2">
            <div class="imgcontainer">
                <img src="/images/home/v4.webp"
                     alt=""
                     width="100%"
                     class="img-fluid" />
                <h2 class="sharm">
                    @localizer["sharmelsheikh"]
                    <img src="/images/home/vicon.png"
                         alt="" />
                </h2>
            </div>
        </a>

        <a href="" class="col-lg-4 col-md-12 my-2">
            <div class="imgcontainer">
                <img src="/images/home/v5.webp"
                     alt=""
                     width="100%"
                     class="img-fluid" />
                <h2 class="aswan">
                    @localizer["aswan"]
                    <img src="/images/home/vicon.png"
                         alt="" />
                </h2>
            </div>
        </a>
    </div>
</div>