
@{
    var isRTL = ViewData["isRTL"] = CultureInfo.CurrentCulture.Name.StartsWith("ar") ? "rtl" : "ltr";
    
}
<!DOCTYPE html>
<html class="loading" lang="en" dir="@isRTL">
<head>

<partial name="../Panel/_Head.cshtml" />
    @RenderSection("Head", required: false)

    @*START PANEL STAYLE LINKS*@
    <partial name="../Panel/_Style.cshtml" />

    <!-- BEGIN Page Level CSS-->
    @RenderSection("Styles", required: false)
    <!-- END Page Level CSS-->

    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Admin/assets/css/StyleSheet.css" />
    <!-- END Custom CSS-->
    
</head>

<body class="vertical-layout vertical-menu-modern 2-columns menu-expanded fixed-navbar"
    data-open="click"
    data-menu="vertical-menu-modern"
    data-col="2-columns">

    <header>
        <!-- fixed-top NavBar-->
        <partial name="../Panel/_NavBar.cshtml" />
    </header>
    
    <aside>
        <partial name="../Panel/_SideBar.cshtml" />
    </aside>

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                @*START PAGE CONTENT*@
                @RenderBody()

            </div>
        </div>
    </div>
<partial name="../Panel/_Script.cshtml" />
    
<!-- BEGIN PAGE LEVEL JS-->
    @RenderSection("Scripts", required: false)
<!-- END PAGE LEVEL JS-->
<script src="~/Admin/assets/js/scripts.js"></script>
</body>
</html>

